.header {
  background-color: var(--MEDIUM-COLOR);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: .2rem .5rem 0 .5rem;

  height: 10%;
}

/***  Site Name  ***/
/*  Site name  */

.header__site-name {
  display: inline-block;
  color: var(--TEXT-COLOR);
  font-family: var(--CURSIVE-FAMILY);
  font-size: 1.7rem;
  font-weight: 700;
  padding: 0 0 .5rem 0;

  user-select: none;
}

.header__site-name:hover {
  cursor: pointer;
}


/***  Navigation Container  ***/

.header__nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

/*  Login Bar  */

.header__login-bar {
  display: flex;
  height: 35%;
}

.header__login-bar-username {
  font-family: var(--CURSIVE-FAMILY);
  font-size: 0.65rem;
  color: var(--TEXT-COLOR);
  margin-right: .5rem;

  user-select: none;
}

.header__login-bar-btn {
  color: var(--TEXT-COLOR);
  font-size: .55rem;
  padding: 2px;
  width: 40px;
  margin-top: 1px;
}

.header__login-bar-btn:hover {
  background-color: var(--BUTTON-HOVER-COLOR);
}

/*  Navigation Bar  */

.header__navbar {
  display: flex;
  justify-content: center;
  height: 55%;
}

.header__nav-btn {
  color: var(--TEXT-COLOR);
  border: none;
  transition: 0.2s;
  padding: 0 1rem 0 1rem;
  background-color: var(--MEDIUM-COLOR);
  cursor: pointer;
  user-select: none;
}

.header__nav-btn:hover {
  background-color: var(--BUTTON-HOVER-COLOR);
}

.header__nav-btn:focus {
  /*border-radius: 3px;*/
  outline: none;
  /*border: 2px solid var(--DARK-COLOR);*/
  background-color: var(--BUTTON-HOVER-COLOR);
  /*transform: scale(1.08);*/
}
