.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

.login__form-container {
  padding: .5rem 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  /*gap: 1rem;*/
}

.login__form-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--CURSIVE-FAMILY);
  user-select: none;

  margin-bottom: 1rem;
}

.login__form {
  display: flex;
  flex-flow: column;
}

.login__input {
  font-size: 1rem;
  font-family: var(--CURSIVE-FAMILY);
  padding: .4rem;

  margin-bottom: .7rem;
}

.login__login-btn {
  font-size: 1.2rem;
  padding: .4rem;
}

.login__login-btn:hover {
  transform: scale(1.03);
}

.login__login-btn:active {
  transform: scale(1.01);
}

#login__login-btn {
  border-radius: 5px;
}

/*  Sign up button  */

.login__strike-through {
  color: grey;
  width: 100%;
  border-left: none;
  border-bottom: none;

  margin: 1rem 0 .5rem;
}

#login__sign-up-btn {
  width: 50%;
  padding: 0.3rem;
}

#login__sign-up-btn:hover {
  transform: scale(1.03);
}

#login__sign-up-btn:active {
  transform: scale(1.01);
}

/*  Pop up message  */
.login__pop-up-message {
  margin: 0 0 .5rem;
}