.message {
  padding: 0.5rem;
  height: 100%;
}

.message__container {
  display: flex;
  width: 100%;
  height: 100%;
}

.message__nav-bar {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0 0 0;
  width: 20%;
  height: 100%;
  min-width: 110px;
  border-radius: 5px 0 0 5px;

  background-color: var(--MEDIUM-COLOR);
}

.message__nav-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem 0.3rem;
  border: 1px solid var(--MEDIUM-COLOR);
  background-color: inherit;
  transition: 0.2s;

  text-align: left;
  color: var(--TEXT-COLOR);
}

.message__nav-btn:hover {
  background-color: var(--DARK-COLOR);
  cursor: pointer;
}

#message__outlet-container {
  width: 80%;
  border-radius: 0 5px 5px 0;
  box-shadow: none;
}

/*  Send New Message Tab  */

.message__send-new__container {
  padding: 1rem;
  height: 100%;
}

.message__send-new__title {
  font-family: var(--CURSIVE-FAMILY);
  text-align: center;
  margin-bottom: 1rem;
}

.message__send-new__message-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.2rem;

  height: 95%;

}

.message__send-new__input {
  font-family: var(--CURSIVE-FAMILY);
  padding: .3rem;
}

.message__send-new__input-textarea {
  font-family: var(--CURSIVE-FAMILY);
  padding: .3rem;
  height: 50%;
  resize: none;
}

.message__send-new__send-btn {
  padding: 0.5rem;

  margin-top: 0.7rem;
  transition: 0.2s;
}

.message__send-new__send-btn:hover {
  transform: scale(1.03);
}

.message__send-new__send-btn:active {
  border: none;
  transform: scale(1.01);
}

/*  Messages Sent Tab  */

.message__sent__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;

  padding: 1rem;
  width: 100%;
  height: 100%;
}

.message__sent__title {
  font-family: var(--CURSIVE-FAMILY);
  text-align: center;
  margin-bottom: 1rem;
}

.message__sent__searchbar {
  width: 100%;
}

.message__sent__searchbar-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.message__sent__searchbar-input {
  width: 70%;
  padding: 0.3rem;

  font-family: var(--CURSIVE-FAMILY);
}

.message__sent__searchbar-btn {
  padding: 0.4rem 1rem
}



