@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

:root {
  /*--BACKGROUND-COLOR: #B5D8E5;*/
  --BACKGROUND-COLOR: #ddebff;
  --CONTAINER-BACKGROUND-COLOR: #cce5ff;

  /*  Header  */
  --LIGHT-COLOR: var(--BACKGROUND-COLOR);
  --MEDIUM-COLOR: #458DD6;
  --DARK-COLOR: #005cb7;

  /* Text Properties */
  --TEXT-COLOR: #FFF;
  --NORMAL-FAMILY: "Roboto", Arial, san-serif;
  --CURSIVE-FAMILY: cursive;

  /*  Button Properties  */
  --BUTTON-COLOR: #1d7dc9;
  --BUTTON-HOVER-COLOR: #2374d0;
  --BUTTON-DISABLED-COLOR: #275c93
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: inherit;
  height: 100%;
  overflow: auto;
}

body {
  font-family: var(--NORMAL-FAMILY);
  background-color: var(--LIGHT-COLOR);
  height: 100%;
}

header {
}

.body {
  height: 90%;
}

#root {
  width: 100%;
  height: 100%;
}

/*  Utility classes  */

.text--nowrap {
  white-space: nowrap;
}

.italics {
  font-style: italic;
}

/*  a generic button  */
.gen-btn {
  color: var(--TEXT-COLOR);
  background-color: var(--BUTTON-COLOR);
  border: none;
  transition: 0.2s;

  user-select: none;
}

.gen-btn:hover {
  background-color: var(--BUTTON-HOVER-COLOR);
  cursor: pointer;
  transform: scale(1.03);
}

.gen-btn:focus {
  /*outline: 2px solid var(--DARK-COLOR);*/
  outline: none;
  transform: scale(1.02);
}

.gen-btn:disabled {
  background-color: var(--BUTTON-DISABLED-COLOR);
}

/*  button with rounded corners  */
.rounded-btn {
  border-radius: 3px;
}

/*  A generic background for items to stand out
    from the base background */
.gen-container {
  background-color: var(--CONTAINER-BACKGROUND-COLOR);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.gen-text-input {
  border-radius: 3px;
  border: 1px solid grey;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.gen-text-input:focus {
  outline: 2px solid var(--MEDIUM-COLOR);
}


.error-message {
  padding: 0 1rem 0 1rem;
  background-color: #ffa7a7;
  color: red;
  font-size: .6rem;
  border: 1px solid red;
  border-radius: 10px;
}

.success-message {
  padding: 0 1rem 0 1rem;
  background-color: #aff1af;
  color: green;
  font-size: .6rem;
  border: 1px solid green;
  border-radius: 10px;
}

