@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

:root {
  --BACKGROUND-COLOR: #B5D8E5;
  --CONTAINER-BACKGROUND-COLOR: whitesmoke;

  /*  Header  */
  --LIGHT-COLOR: var(--BACKGROUND-COLOR);
  --MEDIUM-COLOR: #458DD6;
  --DARK-COLOR: #67a3e0;

  /* Text Properties */
  --TEXT-COLOR: #FFF;
  --NORMAL-FAMILY: "Roboto", Arial, san-serif;
  --CURSIVE-FAMILY: cursive;

  /*  Button Properties  */
  --BUTTON-COLOR: #1d7dc9;
  --BUTTON-HOVER-COLOR: #2374d0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--NORMAL-FAMILY);
  background-color: var(--LIGHT-COLOR);
}

/*  Utility classes  */

.text--nowrap {
  white-space: nowrap;
}

.italics {
  font-style: italic;
}

/*  a generic button  */
.gen-btn {
  color: var(--TEXT-COLOR);
  background-color: var(--BUTTON-COLOR);
  border: none;
  transition: 0.2s;
}

.gen-btn:hover {
  background-color: var(--BUTTON-HOVER-COLOR);
  cursor: pointer;
}

/*  button with rounded corners  */
.rounded-btn {
  border-radius: 3px;
}

/*  A generic background for items to stand out
    from the base background */
.gen-container {
  background-color: var(--CONTAINER-BACKGROUND-COLOR);

}
