:root {
  --BACKGROUND-COLOR: #B5D8E5;

  /*  Header  */
  --LIGHT-COLOR: var(--BACKGROUND-COLOR);
  --MEDIUM-COLOR: #458DD6;
  --DARK-COLOR: #67a3e0;

  /* Text Properties */
  --TEXT-COLOR: #FFF;
  --NORMAL-FAMILY: "Roboto", Arial, san-serif;
  --CURSIVE-FAMILY: cursive;

  /*  Button Properties  */
  --BUTTON-COLOR: #1d7dc9;
  --BUTTON-HOVER-COLOR: #2374d0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--LIGHT-COLOR);
}

/*  Utility classes  */

.text--nowrap {
  white-space: nowrap;
}

.italics {
  font-style: italic;
}

.generic-btn {
  color: var(--TEXT-COLOR);
  background-color: var(--BUTTON-COLOR);
  border: none;
  transition: 0.2s;
}

.generic-btn:hover {
  background-color: var(--BUTTON-HOVER-COLOR);
  cursor: pointer;
}

.rounded-btn {
  border-radius: 3px;
}
